<a href="#view1">view1</a>
        <a href="#view2">view2</a>

<h1>轻量级单页APP框架</h1>
        <br>
        <ul>
            <li>1.依赖库：zepto.js</li>
            <li>2.构建工具：grunt</li>
        </ul>
        <p>build文件夹：存放开发状态（未压缩的JS和图片，未解析的LESS文件）的文件</p>
        <p>css文件夹：存放解析后的css文件</p>
        <p>images文件夹：存放压缩后的图片</p>
        <p>javascript文件夹：存放压缩后的JS文件</p>
        <p>temp文件夹：存放临时文件</p>
        <p>template文件夹：存放模版文件</p>
        <p>app.config.js:配置文件</p>



        <script>
            //TODO 该页的业务逻辑
        </script>